/Java 03 - Alur Ekesekusi dan Print/nbproject/private/
/Java 03 - Alur Ekesekusi dan Print/build/
/JavaApplication7/nbproject/private/
/JavaApplication7/build/
/Java_03-Alur-Ekesekusi-dan-Print/nbproject/private/
/Java_03-Alur-Ekesekusi-dan-Print/build/
/Java 04 - Memahami String [[]]/nbproject/private/
/Java 04 - Memahami String [[]]/build/
/Java 04 - Memahami String [[]]/dist/
/Java 04 - Variable - Assignment -Deklarasi/nbproject/private/
/Java 04 - Variable - Assignment -Deklarasi/build/
/Java 05 - Variable/nbproject/private/
/Java 05 - Variable/build/
/Java 06 - Tipe Data Primitive/nbproject/private/
/Java 06 - Tipe Data Primitive/build/
/Java 07 - Operator Aritmatika/nbproject/private/
/Java 07 - Operator Aritmatika/build/
/Java 08 - Konversi Tipe Data/nbproject/private/
/Java 08 - Konversi Tipe Data/build/
/Java 09 - Operator Unary/nbproject/private/
/Java 09 - Operator Unary/build/
/Java 10 - Operator Assignments/nbproject/private/
/Java 10 - Operator Assignments/build/
/Java 11 - Operator Komparasi/nbproject/private/
/Java 11 - Operator Komparasi/build/
/Java 12 - Operator Logika/nbproject/private/
/Java 12 - Operator Logika/build/
/Java 13 - Operator Bitwise/nbproject/private/
/Java 13 - Operator Bitwise/build/
/Java 14 - Latihan Aritmatika/nbproject/private/
/Java 14 - Latihan Aritmatika/build/
/Java 15 - Latihan Operator Logika/nbproject/private/
/Java 15 - Latihan Operator Logika/build/