/Java 03 - Alur Ekesekusi dan Print/nbproject/private/
/Java 03 - Alur Ekesekusi dan Print/build/
/JavaApplication7/nbproject/private/
/JavaApplication7/build/
/Java_03-Alur-Ekesekusi-dan-Print/nbproject/private/
/Java_03-Alur-Ekesekusi-dan-Print/build/
/Java 04 - Memahami String [[]]/nbproject/private/
/Java 04 - Memahami String [[]]/build/
/Java 04 - Memahami String [[]]/dist/
/Java 04 - Variable - Assignment -Deklarasi/nbproject/private/
/Java 04 - Variable - Assignment -Deklarasi/build/
/Java 05 - Variable/nbproject/private/
/Java 05 - Variable/build/
/Java 06 - Tipe Data Primitive/nbproject/private/
/Java 06 - Tipe Data Primitive/build/
/Java 07 - Operator Aritmatika/nbproject/private/
/Java 07 - Operator Aritmatika/build/
/Java 08 - Konversi Tipe Data/nbproject/private/
/Java 08 - Konversi Tipe Data/build/
/Java 09 - Operator Unary/nbproject/private/
/Java 09 - Operator Unary/build/
/Java 10 - Operator Assignments/nbproject/private/
/Java 10 - Operator Assignments/build/
/Java 11 - Operator Komparasi/nbproject/private/
/Java 11 - Operator Komparasi/build/
/Java 12 - Operator Logika/nbproject/private/
/Java 12 - Operator Logika/build/
/Java 13 - Operator Bitwise/nbproject/private/
/Java 13 - Operator Bitwise/build/
/Java 14 - Latihan Aritmatika/nbproject/private/
/Java 14 - Latihan Aritmatika/build/
/Java 15 - Latihan Operator Logika/nbproject/private/
/Java 15 - Latihan Operator Logika/build/
/Java 16 - If Statement/nbproject/private/
/Java 16 - If Statement/build/
/Java 17 - If Else/nbproject/private/
/Java 17 - If Else/build/
/Java 18 - If Nested Bersarang/nbproject/private/
/Java 18 - If Nested Bersarang/build/
/Java 19 - Switch Case/nbproject/private/
/Java 19 - Switch Case/build/
/Java 20 - Ternary Operator/nbproject/private/
/Java 20 - Ternary Operator/build/
/Java 21 - Kalkulator Sederhana/nbproject/private/
/Java 21 - Kalkulator Sederhana/build/
/Java 22 - Kalkulator with Switch case/nbproject/private/
/Java 22 - Kalkulator with Switch case/build/
/Java 101 - Haha/nbproject/private/
/Java 23 - While Loop/nbproject/private/
/Java 23 - While Loop/build/
/Java 24 - Do While Loop/nbproject/private/
/Java 24 - Do While Loop/build/
/Java 25 - For Loop/nbproject/private/
/Java 25 - For Loop/build/
/Java 26 - Latihan Loop Menjumlahkan Rentang Nilai/nbproject/private/
/Java 26 - Latihan Loop Menjumlahkan Rentang Nilai/build/
/Java 27 - Latihan Deret Fibonacci/nbproject/private/
/Java 27 - Latihan Deret Fibonacci/build/
/Java 28 - Break Continue Return/nbproject/private/
/Java 28 - Break Continue Return/build/
/Java 29 - Loop Bersarang/nbproject/private/
/Java 29 - Loop Bersarang/build/
/Java 30 - Fungsi atau Method/nbproject/private/
/Java 30 - Fungsi atau Method/build/
/Java 31 - Fungsi Void tanpa return/nbproject/private/
/Java 31 - Fungsi Void tanpa return/build/
/Java 32 - Latihan Fungsi/nbproject/private/
/Java 32 - Latihan Fungsi/build/
/Java 33 - Fungsi Recursive/nbproject/private/
/Java 33 - Fungsi Recursive/build/
/Java 34 - Rekursif Bercabang/nbproject/private/
/Java 34 - Rekursif Bercabang/build/
/Java 35 - Overload Fungsi/nbproject/private/
/Java 35 - Overload Fungsi/build/
/Java 36 - Pengenalan Array/nbproject/private/
/Java 36 - Pengenalan Array/build/
/Java 37 - Looping Array dgn For Each/nbproject/private/
/Java 37 - Looping Array dgn For Each/build/
/Java 38 - Fungsi Array Lainya/nbproject/private/
/Java 38 - Fungsi Array Lainya/build/
/Java 39 - Operasi pada Array/nbproject/private/
/Java 39 - Operasi pada Array/build/
/Java 40 - Latihan Array/nbproject/private/
/Java 40 - Latihan Array/build/
/Java 41 - Array Multidimensi/nbproject/private/
/Java 41 - Array Multidimensi/build/
/Java 42 - Array Multidimensi lanjutan/nbproject/private/
/Java 42 - Array Multidimensi lanjutan/build/
/Java 43 - Operasi Matrix Array 2D/nbproject/private/
/Java 43 - Operasi Matrix Array 2D/build/
/Java 44 - Pengenalan String/nbproject/private/
/Java 44 - Pengenalan String/build/
/Java 45 - Operasi String/nbproject/private/
/Java 45 - Operasi String/build/
/Java 46 - String Builder/nbproject/private/
/Java 46 - String Builder/build/
/Java 47 - Format String/nbproject/private/
/Java 47 - Format String/build/
/Java 48 - Pengenalan Exception/nbproject/private/
/Java 48 - Pengenalan Exception/build/
/Java 49 - Method Exception/nbproject/private/
/Java 49 - Method Exception/build/
/Java 50 - IO Stream Pengenalan/nbproject/private/
/Java 50 - IO Stream Pengenalan/build/